# Clustering and Segmenting Neighborhoods in Toronto

### Import libraries to get data into require format

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe

# import k-means from clustering stage
from sklearn.cluster import KMeans

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

### Scrape data on postal codes and set  up dataframe assigning column names

##### Only processing the cells that have an assigned borough. Ignoring the cells with a borough that is Not assigned. Droping row where borough is "Not assigned"

In [2]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(source, 'lxml')

table = soup.find("table")
table_rows = table.tbody.find_all("tr")

res = []
for tr in table_rows:
    td = tr.find_all("td")
    row = [tr.text for tr in td]
    
    # Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    if row != [] and row[1] != "Not assigned\n":
        # If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.
        if "Not assigned\n" in row[2]: 
            row[2] = row[1]
        res.append(row)

# Dataframe with 3 columns
df = pd.DataFrame(res, columns = ["PostalCode", "Borough", "Neighborhood"])
df.head()

,PostalCode,Borough,Neighborhood
0,M3A\n,North York\n,Parkwoods\n
1,M4A\n,North York\n,Victoria Village\n
2,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
3,M6A\n,North York\n,"Lawrence Manor, Lawrence Heights\n"
4,M7A\n,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"

In [3]:
df["Neighborhood"] = df["Neighborhood"].str.replace("\n","")
df["Borough"] = df["Borough"].str.replace("\n","")
df["PostalCode"] = df["PostalCode"].str.replace("\n","")
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Using the .shape method to print the number of rows in the data frame

In [4]:
df.shape

(103, 3)

### rows will be same postalcode will combined into one row with the neighborhoods separated with a comma

In [5]:
df = df.groupby(["PostalCode", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [6]:
print("Shape: ", df.shape)

Shape:  (103, 3)

In [7]:
from geopy.geocoders import Nominatim

### Get latitude and longitude data

In [8]:
lat_lon = pd.read_csv('https://cocl.us/Geospatial_data')
lat_lon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Align and merge dataframes

In [9]:
lat_lon.rename(columns={'Postal Code':'PostalCode'},inplace=True)
print(lat_lon.shape)
lat_lon.head(5)

(103, 3)

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [10]:
# Merging the dataframes                       
new_df = pd.merge(df, lat_lon, how ='inner', on ='PostalCode') 
print(new_df.shape)
new_df.head(5)

(103, 5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [11]:
new_df.tail(5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [12]:
new_df.describe()

         Latitude   Longitude
count  103.000000  103.000000
mean    43.704608  -79.397153
std      0.052463    0.097146
min     43.602414  -79.615819
25%     43.660567  -79.464763
50%     43.696948  -79.388790
75%     43.745320  -79.340923
max     43.836125  -79.160497

## Question 3 Explore and Cluster the neighborhoods in Toronto

### Use geopy library to get the latitude and longitude values of Toronto

In [13]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

print('Libraries imported.')

Libraries imported.

In [14]:
address = 'Toronto, ON'

geolocator = Nominatim(user_agent="Toronto")
location = geolocator.geocode(address)
latitude_toronto = location.latitude
longitude_toronto = location.longitude
print('The geographical coordinate of Toronto are {}, {}'.format(latitude_toronto, longitude_toronto))

The geographical coordinate of Toronto are 43.6534817, -79.3839347

## CANNOT IMPORT FOLIUM AND PRODUCE A MAP :-(

#### Define Foursquare Credentials and Version

In [15]:
CLIENT_ID = 'WRXGQM1GSP4FUXH0PKWIUKR2RVU2Z2VUNHR0QJLKB0Q5FLMY'
CLIENT_SECRET = 'GH0P4DDMQUCX3GIVT1WT5BODWFGCGLUCSBJHESJFQPQ2I2IX'
VERSION = '20180604'

In [16]:
# defining radius and limit of venues to get
radius=500
LIMIT=100

In [17]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [18]:
toronto_venues = getNearbyVenues(names=new_df['Neighborhood'],
                                   latitudes=new_df['Latitude'],
                                   longitudes=new_df['Longitude']
                                  )

Malvern, Rouge
Rouge Hill, Port Union, Highland Creek
Guildwood, Morningside, West Hill
Woburn
Cedarbrae
Scarborough Village
Kennedy Park, Ionview, East Birchmount Park
Golden Mile, Clairlea, Oakridge
Cliffside, Cliffcrest, Scarborough Village West
Birch Cliff, Cliffside West
Dorset Park, Wexford Heights, Scarborough Town Centre
Wexford, Maryvale
Agincourt
Clarks Corners, Tam O'Shanter, Sullivan
Milliken, Agincourt North, Steeles East, L'Amoreaux East
Steeles West, L'Amoreaux West
Upper Rouge
Hillcrest Village
Fairview, Henry Farm, Oriole
Bayview Village
York Mills, Silver Hills
Willowdale, Newtonbrook
Willowdale, Willowdale East
York Mills West
Willowdale, Willowdale West
Parkwoods
Don Mills
Don Mills
Bathurst Manor, Wilson Heights, Downsview North
Northwood Park, York University
Downsview
Downsview
Downsview
Downsview
Victoria Village
Parkview Hill, Woodbine Gardens
Woodbine Heights
The Beaches
Leaside
Thorncliffe Park
East Toronto, Broadview North (Old East York)
The Danforth West, Riverdale
India Bazaar, The Beaches West
Studio District
Lawrence Park
Davisville North
North Toronto West,  Lawrence Park
Davisville
Moore Park, Summerhill East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
Rosedale
St. James Town, Cabbagetown
Church and Wellesley
Regent Park, Harbourfront
Garden District, Ryerson
St. James Town
Berczy Park
Central Bay Street
Richmond, Adelaide, King
Harbourfront East, Union Station, Toronto Islands
Toronto Dominion Centre, Design Exchange
Commerce Court, Victoria Hotel
Bedford Park, Lawrence Manor East
Roselawn
Forest Hill North & West, Forest Hill Road Park
The Annex, North Midtown, Yorkville
University of Toronto, Harbord
Kensington Market, Chinatown, Grange Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Stn A PO Boxes
First Canadian Place, Underground city
Lawrence Manor, Lawrence Heights
Glencairn
Humewood-Cedarvale
Caledonia-Fairbanks
Christie
Dufferin, Dovercourt Village
Little Portugal, Trinity
Brockton, Parkdale Village, Exhibition Place
North Park, Maple Leaf Park, Upwood Park
Del Ray, Mount Dennis, Keelsdale and Silverthorn
Runnymede, The Junction North
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Queen's Park, Ontario Provincial Government
Canada Post Gateway Processing Centre
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto
New Toronto, Mimico South, Humber Bay Shores
Alderwood, Long Branch
The Kingsway, Montgomery Road, Old Mill North
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West
Islington Avenue, Humber Valley Village
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
Humber Summit
Humberlea, Emery
Weston
Westmount
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
Northwest, West Humber - Clairville

#### Check size of the resulting dataframe

In [19]:
toronto_venues.head(10)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Malvern, Rouge",43.806686,-79.194353,Wendy’s,43.807448,-79.199056,Fast Food Restaurant
1,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497,Royal Canadian Legion,43.782533,-79.163085,Bar
2,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497,Scarborough Historical Society,43.788755,-79.162438,History Museum
3,"Guildwood, Morningside, West Hill",43.763573,-79.188711,RBC Royal Bank,43.766790,-79.191151,Bank
4,"Guildwood, Morningside, West Hill",43.763573,-79.188711,G & G Electronics,43.765309,-79.191537,Electronics Store
5,"Guildwood, Morningside, West Hill",43.763573,-79.188711,Sail Sushi,43.765951,-79.191275,Restaurant
6,"Guildwood, Morningside, West Hill",43.763573,-79.188711,Big Bite Burrito,43.766299,-79.190720,Mexican Restaurant
7,"Guildwood, Morningside, West Hill",43.763573,-79.188711,Enterprise Rent-A-Car,43.764076,-79.193406,Rental Car Location
8,"Guildwood, Morningside, West Hill",43.763573,-79.188711,Woburn Medical Centre,43.766631,-79.192286,Medical Center
9,"Guildwood, Morningside, West Hill",43.763573,-79.188711,Lawrence Ave E & Kingston Rd,43.767704,-79.189490,Intersection

In [20]:
toronto_venues.shape

(2123, 7)

##### Checking how many venues are returned for each neighborhood

In [22]:
toronto_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Agincourt,4,4,4,4,4,4
"Alderwood, Long Branch",8,8,8,8,8,8
"Bathurst Manor, Wilson Heights, Downsview North",23,23,23,23,23,23
Bayview Village,4,4,4,4,4,4
"Bedford Park, Lawrence Manor East",24,24,24,24,24,24
...,...,...,...,...,...,...
"Willowdale, Willowdale West",5,5,5,5,5,5
Woburn,4,4,4,4,4,4
Woodbine Heights,6,6,6,6,6,6
York Mills West,2,2,2,2,2,2
"York Mills, Silver Hills",1,1,1,1,1,1

# Analysing each neighborhood

In [24]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot.head()

,Accessories Store,Adult Boutique,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,...,Train Station,Truck Stop,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wings Joint,Women's Store,Yoga Studio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### Examine the dataframe size

In [26]:
toronto_onehot.shape

(2123, 267)

###  Group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [28]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped

,Neighborhood,Accessories Store,Adult Boutique,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,...,Train Station,Truck Stop,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wings Joint,Women's Store,Yoga Studio
0,Agincourt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Alderwood, Long Branch",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Bathurst Manor, Wilson Heights, Downsview North",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bayview Village,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Bedford Park, Lawrence Manor East",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.041667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,"Willowdale, Willowdale West",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,Woburn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,Woodbine Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,York Mills West,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,"York Mills, Silver Hills",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Printing each neighborhood along with the top 5 most common venues

In [30]:
num_top_venues = 5

for hood in toronto_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = toronto_grouped[toronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Agincourt----
                       venue  freq
0                     Lounge  0.25
1  Latin American Restaurant  0.25
2             Breakfast Spot  0.25
3               Skating Rink  0.25
4              Metro Station  0.00


----Alderwood, Long Branch----
            venue  freq
0     Pizza Place  0.25
1  Sandwich Place  0.12
2     Coffee Shop  0.12
3            Pool  0.12
4             Pub  0.12


----Bathurst Manor, Wilson Heights, Downsview North----
           venue  freq
0           Bank  0.09
1    Coffee Shop  0.09
2           Park  0.04
3  Deli / Bodega  0.04
4  Shopping Mall  0.04


----Bayview Village----
                 venue  freq
0  Japanese Restaurant  0.25
1                 Café  0.25
2                 Bank  0.25
3   Chinese Restaurant  0.25
4  Moroccan Restaurant  0.00


----Bedford Park, Lawrence Manor East----
                     venue  freq
0       Italian Restaurant  0.08
1              Coffee Shop  0.08
2          Thai Restaurant  0.08
3           Sandwich Place  0.08
4  Comfort Food Restaurant  0.04


----Berczy Park----
          venue  freq
0   Coffee Shop  0.09
1  Cocktail Bar  0.07
2      Beer Bar  0.04
3   Cheese Shop  0.04
4        Bakery  0.04


----Birch Cliff, Cliffside West----
                   venue  freq
0        College Stadium   0.2
1  General Entertainment   0.2
2           Skating Rink   0.2
3                   Café   0.2
4                   Farm   0.2


----Brockton, Parkdale Village, Exhibition Place----
                   venue  freq
0                   Café  0.14
1            Coffee Shop  0.09
2         Breakfast Spot  0.09
3  Performing Arts Venue  0.05
4              Nightclub  0.05


----Business reply mail Processing Centre, South Central Letter Processing Plant Toronto----
                venue  freq
0  Light Rail Station  0.12
1         Yoga Studio  0.06
2       Auto Workshop  0.06
3                Park  0.06
4         Pizza Place  0.06


----CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport----
              venue  freq
0   Airport Service  0.21
1    Airport Lounge  0.14
2     Boat or Ferry  0.07
3  Airport Terminal  0.07
4  Sculpture Garden  0.07


----Caledonia-Fairbanks----
               venue  freq
0               Park  0.50
1      Women's Store  0.25
2               Pool  0.25
3  Accessories Store  0.00
4        Men's Store  0.00


----Canada Post Gateway Processing Centre----
                 venue  freq
0          Coffee Shop  0.23
1                Hotel  0.15
2  American Restaurant  0.08
3       Sandwich Place  0.08
4  Fried Chicken Joint  0.08


----Cedarbrae----
                 venue  freq
0     Hakka Restaurant  0.12
1   Athletics & Sports  0.12
2  Fried Chicken Joint  0.12
3                 Bank  0.12
4               Bakery  0.12


----Central Bay Street----
                venue  freq
0         Coffee Shop  0.17
1                Café  0.06
2  Italian Restaurant  0.06
3      Sandwich Place  0.05
4     Bubble Tea Shop  0.03


----Christie----
                venue  freq
0       Grocery Store  0.25
1                Café  0.19
2                Park  0.12
3          Restaurant  0.06
4  Italian Restaurant  0.06


----Church and Wellesley----
                 venue  freq
0          Coffee Shop  0.09
1  Japanese Restaurant  0.06
2     Sushi Restaurant  0.06
3              Gay Bar  0.04
4           Restaurant  0.04


----Clarks Corners, Tam O'Shanter, Sullivan----
                  venue  freq
0           Pizza Place  0.14
1  Fast Food Restaurant  0.14
2              Pharmacy  0.14
3          Noodle House  0.07
4       Thai Restaurant  0.07


----Cliffside, Cliffcrest, Scarborough Village West----
                 venue  freq
0                Motel   0.5
1  American Restaurant   0.5
2               Market   0.0
3  Martial Arts School   0.0
4       Massage Studio   0.0


----Commerce Court, Victoria Hotel----
                venue  freq
0         Coffee Shop  0.12
1          Restaurant  0.07
2               Hotel  0.06
3                Café  0.06
4  Italian Restaurant  0.04


----Davisville----
                venue  freq
0         Pizza Place  0.11
1        Dessert Shop  0.08
2      Sandwich Place  0.08
3         Coffee Shop  0.05
4  Italian Restaurant  0.05


----Davisville North----
               venue  freq
0              Hotel   0.2
1        Pizza Place   0.1
2     Breakfast Spot   0.1
3   Department Store   0.1
4  Food & Drink Shop   0.1


----Del Ray, Mount Dennis, Keelsdale and Silverthorn----
                             venue  freq
0             Fast Food Restaurant  0.50
1                   Discount Store  0.25
2                   Sandwich Place  0.25
3  Molecular Gastronomy Restaurant  0.00
4                           Market  0.00


----Don Mills----
                 venue  freq
0                  Gym  0.12
1  Sporting Goods Shop  0.08
2           Beer Store  0.08
3  Japanese Restaurant  0.08
4           Restaurant  0.08


----Dorset Park, Wexford Heights, Scarborough Town Centre----
                   venue  freq
0      Indian Restaurant  0.33
1              Pet Store  0.17
2     Chinese Restaurant  0.17
3     Light Rail Station  0.17
4  Vietnamese Restaurant  0.17


----Downsview----
           venue  freq
0  Grocery Store  0.20
1           Park  0.13
2           Bank  0.07
3        Airport  0.07
4    Snack Place  0.07


----Dufferin, Dovercourt Village----
         venue  freq
0     Pharmacy  0.10
1       Bakery  0.10
2  Pizza Place  0.05
3   Playground  0.05
4         Park  0.05


----East Toronto, Broadview North (Old East York)----
                 venue  freq
0                 Park  0.50
1    Convenience Store  0.25
2  Rental Car Location  0.25
3    Accessories Store  0.00
4   Mexican Restaurant  0.00


----Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood----
          venue  freq
0      Pharmacy  0.17
1   Coffee Shop  0.17
2    Beer Store  0.17
3  Liquor Store  0.17
4          Café  0.17


----Fairview, Henry Farm, Oriole----
                  venue  freq
0        Clothing Store  0.12
1           Coffee Shop  0.07
2  Fast Food Restaurant  0.06
3            Restaurant  0.04
4        Cosmetics Shop  0.04


----First Canadian Place, Underground city----
                 venue  freq
0          Coffee Shop  0.11
1                 Café  0.07
2                Hotel  0.06
3           Restaurant  0.04
4  Japanese Restaurant  0.04


----Forest Hill North & West, Forest Hill Road Park----
               venue  freq
0           Bus Line  0.25
1   Sushi Restaurant  0.25
2              Trail  0.25
3      Jewelry Store  0.25
4  Accessories Store  0.00


----Garden District, Ryerson----
                       venue  freq
0             Clothing Store  0.09
1                Coffee Shop  0.09
2  Middle Eastern Restaurant  0.03
3            Bubble Tea Shop  0.03
4         Italian Restaurant  0.03


----Glencairn----
                 venue  freq
0          Pizza Place   0.2
1               Bakery   0.2
2  Japanese Restaurant   0.2
3        Metro Station   0.2
4                  Pub   0.2


----Golden Mile, Clairlea, Oakridge----
          venue  freq
0        Bakery  0.22
1      Bus Line  0.22
2  Soccer Field  0.11
3  Intersection  0.11
4          Park  0.11


----Guildwood, Morningside, West Hill----
               venue  freq
0       Intersection  0.12
1     Medical Center  0.12
2     Breakfast Spot  0.12
3  Electronics Store  0.12
4               Bank  0.12


----Harbourfront East, Union Station, Toronto Islands----
         venue  freq
0  Coffee Shop  0.12
1     Aquarium  0.05
2        Hotel  0.04
3         Café  0.04
4      Brewery  0.03


----High Park, The Junction South----
                venue  freq
0  Mexican Restaurant  0.08
1                Café  0.08
2     Thai Restaurant  0.08
3           Bookstore  0.04
4  Italian Restaurant  0.04


----Hillcrest Village----
                      venue  freq
0      Fast Food Restaurant  0.17
1        Athletics & Sports  0.17
2                      Pool  0.17
3                   Dog Run  0.17
4  Mediterranean Restaurant  0.17


----Humber Summit----
                    venue  freq
0             Pizza Place  0.33
1            Intersection  0.33
2  Furniture / Home Store  0.33
3     Martial Arts School  0.00
4          Massage Studio  0.00


----Humberlea, Emery----
                        venue  freq
0      Furniture / Home Store   0.5
1              Baseball Field   0.5
2           Accessories Store   0.0
3          Mexican Restaurant   0.0
4  Modern European Restaurant   0.0


----Humewood-Cedarvale----
               venue  freq
0              Field  0.33
1       Hockey Arena  0.33
2              Trail  0.33
3  Accessories Store  0.00
4      Metro Station  0.00


----India Bazaar, The Beaches West----
                  venue  freq
0  Fast Food Restaurant  0.10
1                  Park  0.10
2               Brewery  0.05
3     Fish & Chips Shop  0.05
4      Sushi Restaurant  0.05


----Kennedy Park, Ionview, East Birchmount Park----
               venue  freq
0   Department Store  0.17
1     Discount Store  0.17
2         Hobby Shop  0.17
3        Coffee Shop  0.17
4  Convenience Store  0.17


----Kensington Market, Chinatown, Grange Park----
                           venue  freq
0                           Café  0.08
1  Vegetarian / Vegan Restaurant  0.06
2                    Coffee Shop  0.06
3             Mexican Restaurant  0.05
4                            Bar  0.05


----Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens----
               venue  freq
0        Pizza Place  0.25
1     Sandwich Place  0.25
2               Park  0.25
3  Mobile Phone Shop  0.25
4      Metro Station  0.00


----Lawrence Manor, Lawrence Heights----
                    venue  freq
0  Furniture / Home Store  0.18
1          Clothing Store  0.18
2       Accessories Store  0.09
3             Coffee Shop  0.09
4             Event Space  0.09


----Lawrence Park----
               venue  freq
0           Bus Line  0.33
1               Park  0.33
2        Swim School  0.33
3  Accessories Store  0.00
4      Metro Station  0.00


----Leaside----
                    venue  freq
0     Sporting Goods Shop  0.09
1             Coffee Shop  0.09
2            Burger Joint  0.06
3                    Bank  0.06
4  Furniture / Home Store  0.06


----Little Portugal, Trinity----
                           venue  freq
0                            Bar  0.12
1                           Café  0.05
2                    Men's Store  0.05
3  Vegetarian / Vegan Restaurant  0.05
4               Asian Restaurant  0.05


----Malvern, Rouge----
                  venue  freq
0  Fast Food Restaurant   1.0
1   Monument / Landmark   0.0
2         Luggage Store   0.0
3                Market   0.0
4   Martial Arts School   0.0


----Milliken, Agincourt North, Steeles East, L'Amoreaux East----
               venue  freq
0                Gym  0.25
1         Playground  0.25
2               Park  0.25
3       Intersection  0.25
4  Accessories Store  0.00


----Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West----
            venue  freq
0  Discount Store  0.08
1   Grocery Store  0.08
2     Social Club  0.08
3    Burger Joint  0.08
4  Sandwich Place  0.08


----Moore Park, Summerhill East----
           venue  freq
0   Tennis Court  0.25
1           Park  0.25
2     Playground  0.25
3     Restaurant  0.25
4  Metro Station  0.00


----New Toronto, Mimico South, Humber Bay Shores----
                 venue  freq
0          Pizza Place  0.08
1  American Restaurant  0.08
2               Bakery  0.08
3  Fried Chicken Joint  0.08
4           Restaurant  0.08


----North Park, Maple Leaf Park, Upwood Park----
                        venue  freq
0                       Trail   0.2
1                      Bakery   0.2
2                        Park   0.2
3  Construction & Landscaping   0.2
4            Basketball Court   0.2


----North Toronto West,  Lawrence Park----
                 venue  freq
0  Sporting Goods Shop  0.11
1          Coffee Shop  0.11
2       Clothing Store  0.11
3          Yoga Studio  0.05
4                 Park  0.05


----Northwest, West Humber - Clairville----
                        venue  freq
0                  Truck Stop  0.33
1         Rental Car Location  0.33
2                   Drugstore  0.33
3               Metro Station  0.00
4  Modern European Restaurant  0.00


----Northwood Park, York University----
                    venue  freq
0  Furniture / Home Store  0.33
1          Massage Studio  0.17
2    Caribbean Restaurant  0.17
3             Coffee Shop  0.17
4                     Bar  0.17


----Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East----
                        venue  freq
0  Construction & Landscaping   0.5
1              Baseball Field   0.5
2           Accessories Store   0.0
3               Metro Station   0.0
4  Modern European Restaurant   0.0


----Parkdale, Roncesvalles----
                         venue  freq
0               Breakfast Spot  0.14
1                    Gift Shop  0.14
2  Eastern European Restaurant  0.07
3                          Bar  0.07
4                Movie Theater  0.07


----Parkview Hill, Woodbine Gardens----
                venue  freq
0         Pizza Place  0.18
1            Pharmacy  0.09
2  Athletics & Sports  0.09
3         Flea Market  0.09
4                Café  0.09


----Parkwoods----
                        venue  freq
0           Food & Drink Shop   0.5
1                        Park   0.5
2                 Men's Store   0.0
3  Modern European Restaurant   0.0
4           Mobile Phone Shop   0.0


----Queen's Park, Ontario Provincial Government----
                venue  freq
0         Coffee Shop  0.26
1    Sushi Restaurant  0.06
2         Yoga Studio  0.03
3  Mexican Restaurant  0.03
4                 Bar  0.03


----Regent Park, Harbourfront----
            venue  freq
0     Coffee Shop  0.17
1          Bakery  0.06
2            Park  0.06
3  Breakfast Spot  0.04
4            Café  0.04


----Richmond, Adelaide, King----
            venue  freq
0     Coffee Shop  0.11
1            Café  0.05
2      Restaurant  0.04
3          Bakery  0.03
4  Clothing Store  0.03


----Rosedale----

               venue  freq
0               Park  0.50
1         Playground  0.25
2              Trail  0.25
3  Accessories Store  0.00
4        Men's Store  0.00


----Roselawn----
                       venue  freq
0                     Garden  0.33
1             Ice Cream Shop  0.33
2               Home Service  0.33
3          Accessories Store  0.00
4  Middle Eastern Restaurant  0.00


----Rouge Hill, Port Union, Highland Creek----
                             venue  freq
0                   History Museum   0.5
1                              Bar   0.5
2                Accessories Store   0.0
3               Mexican Restaurant   0.0
4  Molecular Gastronomy Restaurant   0.0


----Runnymede, Swansea----
              venue  freq
0  Sushi Restaurant  0.08
1       Coffee Shop  0.08
2              Café  0.08
3             Diner  0.06
4               Pub  0.06


----Runnymede, The Junction North----
               venue  freq
0           Bus Line  0.25
1  Convenience Store  0.25
2     Breakfast Spot  0.25
3            Brewery  0.25
4  Accessories Store  0.00


----Scarborough Village----
                 venue  freq
0           Playground   0.5
1     Business Service   0.5
2  Martial Arts School   0.0
3       Massage Studio   0.0
4       Medical Center   0.0


----South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens----
                 venue  freq
0        Grocery Store  0.22
1          Pizza Place  0.11
2  Fried Chicken Joint  0.11
3       Discount Store  0.11
4       Sandwich Place  0.11


----St. James Town----
                 venue  freq
0          Coffee Shop  0.06
1                 Café  0.06
2         Cocktail Bar  0.05
3  American Restaurant  0.04
4            Gastropub  0.04


----St. James Town, Cabbagetown----
         venue  freq
0  Coffee Shop  0.07
1         Park  0.04
2         Café  0.04
3    Pet Store  0.04
4  Pizza Place  0.04


----Steeles West, L'Amoreaux West----
                  venue  freq
0              Pharmacy  0.08
1           Coffee Shop  0.08
2  Fast Food Restaurant  0.08
3           Supermarket  0.08
4        Sandwich Place  0.08


----Stn A PO Boxes----
                 venue  freq
0          Coffee Shop  0.11
1   Seafood Restaurant  0.04
2         Cocktail Bar  0.04
3   Italian Restaurant  0.03
4  Japanese Restaurant  0.03


----Studio District----
                 venue  freq
0          Coffee Shop  0.08
1  American Restaurant  0.06
2              Brewery  0.06
3                 Café  0.06
4            Gastropub  0.06


----Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park----
                 venue  freq
0          Coffee Shop  0.14
1         Liquor Store  0.07
2   Light Rail Station  0.07
3          Supermarket  0.07
4  Fried Chicken Joint  0.07


----The Annex, North Midtown, Yorkville----
            venue  freq
0  Sandwich Place  0.16
1            Café  0.16
2     Coffee Shop  0.11
3     Pizza Place  0.05
4  History Museum  0.05


----The Beaches----
                        venue  freq
0                         Pub  0.25
1           Health Food Store  0.25
2                       Trail  0.25
3               Metro Station  0.00
4  Modern European Restaurant  0.00


----The Danforth West, Riverdale----
                    venue  freq
0        Greek Restaurant  0.17
1             Coffee Shop  0.10
2      Italian Restaurant  0.07
3              Restaurant  0.05
4  Furniture / Home Store  0.05


----The Kingsway, Montgomery Road, Old Mill North----
                        venue  freq
0                        Park   0.5
1                       River   0.5
2           Accessories Store   0.0
3               Metro Station   0.0
4  Modern European Restaurant   0.0


----Thorncliffe Park----
               venue  freq
0  Indian Restaurant  0.10
1        Yoga Studio  0.05
2               Park  0.05
3     Discount Store  0.05
4         Restaurant  0.05


----Toronto Dominion Centre, Design Exchange----
                 venue  freq
0          Coffee Shop  0.10
1                Hotel  0.09
2                 Café  0.06
3  Japanese Restaurant  0.03
4  American Restaurant  0.03


----University of Toronto, Harbord----
                 venue  freq
0                 Café  0.17
1            Bookstore  0.07
2                  Bar  0.07
3               Bakery  0.07
4  Japanese Restaurant  0.07


----Victoria Village----
                       venue  freq
0               Intersection  0.25
1                Coffee Shop  0.25
2      Portuguese Restaurant  0.25
3               Hockey Arena  0.25
4  Middle Eastern Restaurant  0.00


----West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale----
                             venue  freq
0                           Bakery   1.0
1                Accessories Store   0.0
2               Mexican Restaurant   0.0
3  Molecular Gastronomy Restaurant   0.0
4       Modern European Restaurant   0.0


----Westmount----
                       venue  freq
0                Pizza Place  0.25
1                Coffee Shop  0.12
2  Middle Eastern Restaurant  0.12
3             Discount Store  0.12
4             Sandwich Place  0.12


----Weston----
                        venue  freq
0                        Park   1.0
1           Accessories Store   0.0
2                 Men's Store   0.0
3  Modern European Restaurant   0.0
4           Mobile Phone Shop   0.0


----Wexford, Maryvale----
            venue  freq
0   Shopping Mall  0.17
1     Auto Garage  0.17
2  Sandwich Place  0.17
3          Bakery  0.17
4      Smoke Shop  0.17


----Willowdale, Willowdale East----
              venue  freq
0  Ramen Restaurant  0.09
1       Coffee Shop  0.06
2       Pizza Place  0.06
3    Sandwich Place  0.06
4              Café  0.06


----Willowdale, Willowdale West----
            venue  freq
0     Pizza Place   0.2
1   Grocery Store   0.2
2  Discount Store   0.2
3     Coffee Shop   0.2
4        Pharmacy   0.2


----Woburn----
                   venue  freq
0            Coffee Shop  0.50
1  Korean BBQ Restaurant  0.25
2      Indian Restaurant  0.25
3      Accessories Store  0.00
4    Monument / Landmark  0.00


----Woodbine Heights----
                venue  freq
0        Skating Rink  0.17
1            Bus Stop  0.17
2                Park  0.17
3          Beer Store  0.17
4  Athletics & Sports  0.17


----York Mills West----
                        venue  freq
0                        Park   0.5
1           Convenience Store   0.5
2           Accessories Store   0.0
3               Metro Station   0.0
4  Modern European Restaurant   0.0


----York Mills, Silver Hills----
                        venue  freq
0                        Park   1.0
1           Accessories Store   0.0
2                 Men's Store   0.0
3  Modern European Restaurant   0.0
4           Mobile Phone Shop   0.0

#### Represent this data in a pandas dataframe

In [31]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [33]:
import numpy as np
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighbourhoods_venues_sorted = pd.DataFrame(columns=columns)
neighbourhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighbourhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighbourhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Agincourt,Lounge,Latin American Restaurant,Skating Rink,Breakfast Spot,Eastern European Restaurant,Dumpling Restaurant,Electronics Store,Drugstore,Ethiopian Restaurant,Donut Shop
1,"Alderwood, Long Branch",Pizza Place,Gym,Coffee Shop,Pharmacy,Sandwich Place,Pool,Pub,Yoga Studio,Diner,Deli / Bodega
2,"Bathurst Manor, Wilson Heights, Downsview North",Coffee Shop,Bank,Park,Mobile Phone Shop,Bridal Shop,Sandwich Place,Diner,Deli / Bodega,Restaurant,Intersection
3,Bayview Village,Café,Bank,Japanese Restaurant,Chinese Restaurant,Yoga Studio,Dessert Shop,Diner,Discount Store,Distribution Center,Dog Run
4,"Bedford Park, Lawrence Manor East",Thai Restaurant,Sandwich Place,Italian Restaurant,Coffee Shop,Pub,Locksmith,Juice Bar,Fast Food Restaurant,Restaurant,Indian Restaurant

# Cluster Neighborhoods

In [35]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_ 
# to change use .astype()

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 3, 1,
       0, 1, 1, 1, 1, 1, 2, 0], dtype=int32)

###### Create a new merged dataframe including cluster and top 10 venues for each neighborhood

In [39]:
toronto_merged = new_df

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighbourhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head() # check the last columns!

,PostalCode,Borough,Neighborhood,Latitude,Longitude,Cluster_Labels1,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353,4.0,4.0,Fast Food Restaurant,Yoga Studio,Department Store,Ethiopian Restaurant,Electronics Store,Eastern European Restaurant,Dumpling Restaurant,Drugstore,Donut Shop,Doner Restaurant
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497,1.0,1.0,Bar,History Museum,Yoga Studio,Doner Restaurant,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run,Donut Shop
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,1.0,1.0,Electronics Store,Restaurant,Rental Car Location,Breakfast Spot,Mexican Restaurant,Intersection,Medical Center,Bank,Yoga Studio,Diner
3,M1G,Scarborough,Woburn,43.770992,-79.216917,1.0,1.0,Coffee Shop,Korean BBQ Restaurant,Indian Restaurant,Yoga Studio,Doner Restaurant,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476,1.0,1.0,Bakery,Hakka Restaurant,Bank,Athletics & Sports,Thai Restaurant,Caribbean Restaurant,Gas Station,Fried Chicken Joint,Discount Store,Dim Sum Restaurant

### Drop rows with no data available

In [40]:
toronto_merged=toronto_merged.dropna()

## Cannot create map due to issues importing folium :-(

# Examine Clusters

In [41]:
toronto_merged['Cluster_Labels'] = toronto_merged.Cluster_Labels.astype(int)

##### Cluster 1

In [44]:
toronto_merged.loc[toronto_merged['Cluster_Labels'] == 0, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster_Labels1,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
20,North York,0.0,0,Park,Yoga Studio,Doner Restaurant,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run,Donut Shop
25,North York,0.0,0,Park,Food & Drink Shop,Yoga Studio,Dog Run,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Doner Restaurant
50,Downtown Toronto,0.0,0,Park,Trail,Playground,Deli / Bodega,Department Store,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Distribution Center
74,York,0.0,0,Park,Pool,Women's Store,Gourmet Shop,Golf Course,Eastern European Restaurant,Dumpling Restaurant,Drugstore,Donut Shop,Doner Restaurant
90,Etobicoke,0.0,0,Park,River,Distribution Center,Department Store,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Dog Run,Dance Studio
98,York,0.0,0,Park,Yoga Studio,Doner Restaurant,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run,Donut Shop

##### Cluster 2

In [45]:
toronto_merged.loc[toronto_merged['Cluster_Labels'] == 1, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster_Labels1,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Scarborough,1.0,1,Bar,History Museum,Yoga Studio,Doner Restaurant,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run,Donut Shop
2,Scarborough,1.0,1,Electronics Store,Restaurant,Rental Car Location,Breakfast Spot,Mexican Restaurant,Intersection,Medical Center,Bank,Yoga Studio,Diner
3,Scarborough,1.0,1,Coffee Shop,Korean BBQ Restaurant,Indian Restaurant,Yoga Studio,Doner Restaurant,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run
4,Scarborough,1.0,1,Bakery,Hakka Restaurant,Bank,Athletics & Sports,Thai Restaurant,Caribbean Restaurant,Gas Station,Fried Chicken Joint,Discount Store,Dim Sum Restaurant
5,Scarborough,1.0,1,Business Service,Playground,Dog Run,Department Store,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Doner Restaurant
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,North York,1.0,1,Furniture / Home Store,Baseball Field,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run,Doner Restaurant,Falafel Restaurant
99,Etobicoke,1.0,1,Pizza Place,Middle Eastern Restaurant,Coffee Shop,Intersection,Sandwich Place,Discount Store,Chinese Restaurant,Yoga Studio,Distribution Center,Dim Sum Restaurant
100,Etobicoke,1.0,1,Park,Pizza Place,Sandwich Place,Mobile Phone Shop,Discount Store,Deli / Bodega,Department Store,Dessert Shop,Dim Sum Restaurant,Diner
101,Etobicoke,1.0,1,Grocery Store,Fried Chicken Joint,Pharmacy,Pizza Place,Sandwich Place,Beer Store,Fast Food Restaurant,Discount Store,Distribution Center,Dessert Shop
102,Etobicoke,1.0,1,Rental Car Location,Drugstore,Truck Stop,Yoga Studio,Distribution Center,Department Store,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store

##### Cluster 3

In [46]:
toronto_merged.loc[toronto_merged['Cluster_Labels'] == 2, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster_Labels1,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
23,North York,2.0,2,Convenience Store,Park,Yoga Studio,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run,Doner Restaurant,Donut Shop
40,East York,2.0,2,Park,Convenience Store,Rental Car Location,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run,Deli / Bodega

##### Cluster 4

In [47]:
toronto_merged.loc[toronto_merged['Cluster_Labels'] == 3, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster_Labels1,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
94,Etobicoke,3.0,3,Bakery,Yoga Studio,Doner Restaurant,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Dog Run,Donut Shop,Farm

##### Cluster 5

In [48]:
toronto_merged.loc[toronto_merged['Cluster_Labels'] == 4, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

,Borough,Cluster_Labels1,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Scarborough,4.0,4,Fast Food Restaurant,Yoga Studio,Department Store,Ethiopian Restaurant,Electronics Store,Eastern European Restaurant,Dumpling Restaurant,Drugstore,Donut Shop,Doner Restaurant
80,York,4.0,4,Fast Food Restaurant,Sandwich Place,Discount Store,Yoga Studio,Dog Run,Dessert Shop,Dim Sum Restaurant,Diner,Distribution Center,Doner Restaurant